{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>WIZARDS</h2>

{% if active_players %}

  {% for player in active_players %}

    <br><br>

    <table>
      <form method="post">
        {% csrf_token %}
        <tr>
            <td><button class="btn btn-primary" name="end_turn"><b>End</b></button></td>
            <td>
              <input type="hidden" name="player_id" value="{{ player.id }}">
                <a href="/hogwarts/{{ player.id }}/"><h3>{{ player.name }}</h3></a></td>
            <td><button class="btn btn-primary" name="stunned"><b>Stun</b></button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" name="health" value="-1"
                {% if player.health == 0 %}
                    disabled
                {% endif %}
                >-</button></td>
            <td>Health: <b>{{ player.health }}</b></td>
            <td><button class="btn btn-primary" name="health" value="1"
                {% if player.health >= max_health %}
                    disabled
                {% endif %}
                >+</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" name="coins" value="-1"
                {% if player.coins == 0 %}
                    disabled
                {% endif %}
                >-</button></td>
            <td>Coins: <b>{{ player.coins }}</b></td>
            <td><button class="btn btn-primary" name="coins" value="1">+</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" name="damage_tokens" value="-1"
                {% if player.damage_tokens == 0 %}
                    disabled
                {% endif %}
                >-</button></td>
            <td>Zaps: <b>{{ player.damage_tokens }}</b></td>
            <td><button class="btn btn-primary" name="damage_tokens" value="1">+</button></td>
        </tr>
      </form>
    </table>

  {% endfor %}

{% else %}

  <p>No players found.</p>

{% endif %}

{% if active_players|length < 4 %}
<a href="/hogwarts/games/{{ shortcode }}/add/">Add Player</a>
{% endif %}

<a href="/hogwarts/new">Back</a>


{% endblock %}
