{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if active_players %}
<h2>WIZARDS</h2>
<table>
    <tr>
    {% for player in active_players %}
    <td>
    <table>
    <tr>
        <td></td>
        <td><a href="/hogwarts/{{ player.id }}/">{{ player.name }}</a></td>
        <td></td>
    </tr>
    <tr>
        <td>-</td>
        <td>Health: <b>{{ player.health }}</b></td>
        <td>+</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Coins: <b>{{ player.coins }}</b></td>
        <td>+</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Zaps: <b>{{ player.damage_tokens }}</b></td>
        <td>+</td>
    </tr>
    </table>
    </td>
    {% endfor %}
    </tr>
</table>
{% else %}
<p>No players found.</p>
{% endif %}

{% if active_players|length < 4 %}
<a href="/hogwarts/games/{{ shortcode }}/add/">Add Player</a>
{% endif %}

<a href="/hogwarts/new">Back</a>


{% endblock %}
