{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h2>Active games</h2>
    <ul>
      {% for game_name, player_count in games_with_player_counts %}
        <li>
          <a href="/hogwarts/games/{{ game_name }}/">
            {{ game_name }} ({{player_count}})
          </a>
        </li>
      {% empty %}
        <li>No games are available.</li>
      {% endfor %}
    </ul>

  <h2>New game</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="shortcode" value="{{ shortcode }}" />
    <input type="submit" value="Create Game!" />
  </form>

{% endblock %}
